.custom-table {
  width: 100%;
}

.mat-dialog-container {
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

.container {
  padding: 20px;
}

.custom-table {
  border-radius: 10px;
  overflow: hidden;
}

.row {
  cursor: pointer;
}

.row:hover {
  background-color: rgb(238, 238, 238);
}
